<style>
  [data-mode="dark"] .thingiverse-card-content {
    background-color: #1b1b1e; /* Dark mode background color */
    color: #ffffff; /* Dark mode text color */
  }

  [data-mode="light"] .thingiverse-card-content {
    background-color: #ffffff; /* Light mode background color */
    color: #000000; /* Light mode text color */
  }

  .thingiverse-card {
    border: inherit; /* inherit */
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .thingiverse-card:hover {
    transform: scale(1.02);
  }
  
  .thingiverse-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .thingiverse-card-image {
    width: 100%;
    padding-top: 56.25%; 
    background-size: contain; 
    background-position: center;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
  }
  
  .thingiverse-card-content {
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
  }
  
  .thingiverse-card-content h3 {
    margin: 0 0 10px;
    font-size: 1.25em;
  }
  
  .thingiverse-card-content p {
    margin: 0;
  }
</style>
  
<div class="thingiverse-card">
  <a href="{{ include.url }}" target="_blank">
    <div class="thingiverse-card-image" style="background-image: url('{{ include.image }}');"></div>
    <div class="thingiverse-card-content">
      <h3>{{ include.name }}</h3>
      <p>{{ include.description }}</p>
      <a href="https://www.thingiverse.com/{{ include.username }}" target="_blank" rel="noopener noreferrer">
        <img alt="Thingiverse {{ include.username }}" src="https://img.shields.io/badge/Thingiverse-{{ include.username }}-dark_green?logo=thingiverse&&color=2596be">
      </a>
    </div>
  </a>
</div>